{% extends "layout.html" %}
{% block body %}
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="q" placeholder="Query" type="text" >
        <input type="submit" value="Search">
    </form>

    <script>
        document.querySelector('form').onsubmit= function(){
            if (!document.querySelector('input').value){
                alert('you must provide your name!')
                return false;
            }
            else if (!document.querySelector('select').value){
                alert('you must provide your dorm!')
                return false;
            }
            return true;
        };
    </script>

    {% endblock %}
 